In [51]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

%matplotlib inline

ImportError: cannot import name 'Axes' from 'matplotlib.axes' (unknown location)

In [53]:
#file://localhost/path/to/table.csv
df = pd.read_csv('allv2_csv.csv')

In [55]:
df.columns = df.columns.str.upper()

In [57]:
df.columns = df.columns.str.replace(r'\s*\(PHP\)', '', regex = True)
df.columns = df.columns.str.replace(r'\s*\(BUYER\)', '', regex = True)
df.dtypes

SOURCE.NAME                       object
ORDER ID                          object
ORDER STATUS                      object
RETURN / REFUND STATUS            object
TRACKING NUMBER*                  object
SHIPPING OPTION                   object
SHIPMENT METHOD                   object
ESTIMATED SHIP OUT DATE           object
SHIP TIME                         object
ORDER CREATION DATE               object
ORDER PAID TIME                   object
PARENT SKU REFERENCE NO.         float64
PRODUCT NAME                      object
SKU REFERENCE NO.                float64
VARIATION NAME                    object
ORIGINAL PRICE                     int64
DEAL PRICE                         int64
QUANTITY                           int64
RETURNED QUANTITY                float64
PRODUCT SUBTOTAL                   int64
TOTAL DISCOUNT                     int64
PRICE DISCOUNT(FROM SELLER)        int64
SHOPEE REBATE                      int64
SKU TOTAL WEIGHT                 float64
NUMBER OF ITEMS IN ORDER           int64
ORDER TOTAL WEIGHT               float64
SELLER VOUCHER                     int64
SELLER ABSORBED COIN CASHBACK      int64
SHOPEE VOUCHER                     int64
BUNDLE DEALS INDICATOR(Y/N)       object
SHOPEE BUNDLE DISCOUNT             int64
SELLER BUNDLE DISCOUNT             int64
SHOPEE COINS OFFSET                int64
CREDIT CARD DISCOUNT TOTAL         int64
PRODUCTS' PRICE PAID BY BUYER      int64
BUYER PAID SHIPPING FEE            int64
SHIPPING REBATE ESTIMATE           int64
REVERSE SHIPPING FEE               int64
SERVICE FEE                        int64
GRAND TOTAL                        int64
ESTIMATED SHIPPING FEE             int64
USERNAME                          object
RECEIVER NAME                     object
PHONE NUMBER                      object
DELIVERY ADDRESS                  object
TOWN                              object
DISTRICT                          object
CITY                              object
PROVINCE                          object
COUNTRY                           object
ZIP CODE                           int64
REMARK FROM BUYER                 object
ORDER COMPLETE TIME               object
NOTE                             float64
dtype: object

In [59]:
df['ORDER CREATION DATE'] = pd.to_datetime(df['ORDER CREATION DATE'])
df['date'] = df['ORDER CREATION DATE'].dt.date
df.set_index('date', inplace = True)

C:\Users\Joshua Eirus Candido\AppData\Local\Temp\ipykernel_34056\3214188911.py:1: UserWarning: Parsing dates in %d/%m/%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['ORDER CREATION DATE'] = pd.to_datetime(df['ORDER CREATION DATE'])

In [61]:
df.head()

,SOURCE.NAME,ORDER ID,ORDER STATUS,RETURN / REFUND STATUS,TRACKING NUMBER*,SHIPPING OPTION,SHIPMENT METHOD,ESTIMATED SHIP OUT DATE,SHIP TIME,ORDER CREATION DATE,...,DELIVERY ADDRESS,TOWN,DISTRICT,CITY,PROVINCE,COUNTRY,ZIP CODE,REMARK FROM BUYER,ORDER COMPLETE TIME,NOTE
date,,,,,,,,,,,,,,,,,,,,,
2022-10-26,2022_10_sales.xlsx,221026EG38031S,Completed,NaN,785348988418,Standard Local-J&T Express,pickup,28/10/2022 23:55,27/10/2022 17:04,2022-10-26 23:45:00,...,"******alon Dos, Las Pinas City, Metro Manila, ...",Talon Dos,Las Pinas City,Metro Manila,Metro Manila,PH,1740,NaN,28/10/2022 12:54,NaN
2022-11-11,2022_11_sales.xlsx,221111Q4W4YN38,Completed,NaN,785405295326,Standard Local-J&T Express,pickup,15/11/2022 0:06,11/11/2022 18:42,2022-11-11 00:05:00,...,"******view, Quezon City, Metro Manila, Metro M...",North Fairview,Quezon City,Metro Manila,Metro Manila,PH,1121,NaN,12/11/2022 17:17,NaN
2022-11-11,2022_11_sales.xlsx,221111Q4W4YN38,Completed,NaN,785405295326,Standard Local-J&T Express,pickup,15/11/2022 0:06,11/11/2022 18:42,2022-11-11 00:05:00,...,"******view, Quezon City, Metro Manila, Metro M...",North Fairview,Quezon City,Metro Manila,Metro Manila,PH,1121,NaN,12/11/2022 17:17,NaN
2022-11-12,2022_11_sales.xlsx,221112TM4AEEYV,Completed,NaN,785419262092,Standard Local-J&T Express,pickup,15/11/2022 9:26,12/11/2022 18:30,2022-11-12 09:16:00,...,"******Marilao Bulacan, Loma De Gato, Marilao, ...",Loma De Gato,Marilao,Bulacan,North Luzon,PH,3019,NaN,13/11/2022 17:49,NaN
2022-11-12,2022_11_sales.xlsx,221112TJESN7AE,Completed,NaN,785419084505,Standard Local-J&T Express,pickup,15/11/2022 8:46,12/11/2022 18:30,2022-11-12 08:46:00,...,"******view, Quezon City, Metro Manila, Metro M...",North Fairview,Quezon City,Metro Manila,Metro Manila,PH,1121,NaN,14/11/2022 8:03,NaN

In [81]:
df.describe()

,ORDER CREATION DATE,PARENT SKU REFERENCE NO.,SKU REFERENCE NO.,ORIGINAL PRICE,DEAL PRICE,QUANTITY,RETURNED QUANTITY,PRODUCT SUBTOTAL,TOTAL DISCOUNT,PRICE DISCOUNT(FROM SELLER),...,CREDIT CARD DISCOUNT TOTAL,PRODUCTS' PRICE PAID BY BUYER,BUYER PAID SHIPPING FEE,SHIPPING REBATE ESTIMATE,REVERSE SHIPPING FEE,SERVICE FEE,GRAND TOTAL,ESTIMATED SHIPPING FEE,ZIP CODE,NOTE
count,5305,0.0,0.0,5305.000000,5305.000000,5305.000000,1608.000000,5305.000000,5305.000000,5305.000000,...,5305.0,5305.000000,5305.000000,5305.000000,5305.000000,5305.000000,5305.000000,5305.000000,5305.000000,0.0
mean,2023-12-10 14:38:56.426013184,NaN,NaN,207.513666,207.403582,1.101225,0.006219,217.818285,0.110085,0.110085,...,0.0,298.163431,30.122149,33.295005,0.020924,18.801508,327.061263,63.534779,3075.175872,NaN
min,2022-10-26 23:45:00,NaN,NaN,5.000000,5.000000,1.000000,0.000000,5.000000,0.000000,0.000000,...,0.0,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,2023-10-14 21:08:00,NaN,NaN,80.000000,80.000000,1.000000,0.000000,90.000000,0.000000,0.000000,...,0.0,100.000000,0.000000,0.000000,0.000000,8.000000,120.000000,38.000000,1601.000000,NaN
50%,2023-12-28 04:50:00,NaN,NaN,150.000000,150.000000,1.000000,0.000000,150.000000,0.000000,0.000000,...,0.0,200.000000,14.000000,38.000000,0.000000,14.000000,220.000000,50.000000,2431.000000,NaN
75%,2024-03-11 21:39:00,NaN,NaN,250.000000,250.000000,1.000000,0.000000,270.000000,0.000000,0.000000,...,0.0,380.000000,45.000000,50.000000,0.000000,24.000000,403.000000,58.000000,4120.000000,NaN
max,2024-06-29 12:43:00,NaN,NaN,6750.000000,6750.000000,9.000000,2.000000,6750.000000,230.000000,230.000000,...,0.0,6750.000000,974.000000,250.000000,68.000000,378.000000,7334.000000,974.000000,9601.000000,NaN
std,NaN,NaN,NaN,263.137934,263.037703,0.422465,0.093130,267.042332,3.509729,3.509729,...,0.0,336.551211,45.121616,31.780317,1.104519,18.684599,349.759246,48.598192,1923.651813,NaN

In [83]:
#df.loc[:, ['USERNAME']]

In [85]:
#distinct_usernames = df.drop_duplicates(subset=['USERNAME'], keep='first')
#print(distinct_usernames)

In [87]:
#ALL DISTINCT USERNAMES
#distinct_usernames_df = distinct_usernames_df.sort_values(by='USERNAME')
#pd.set_option('display.max_rows', None)
#print("\nSorted Distinct Usernames DataFrame:")
#print(distinct_usernames_df)

In [89]:
#DROP COLUMN IF THE DATA TYPE IS float or int
#if not (pd.api.types.is_float_dtype(['SOURCE.NAME']) or pd.api.types.is_integer_dtype(['SOURCE.NAME']):
        #Drop the column if the condition is met
        #df.drop('SOURCE.NAME', axis=1, inplace=True)
#print("\nDataFrame after dropping non-numeric columns:")
#print(df)

In [91]:
#df.groupby('CITY').min(numeric_only = True)

In [93]:
income_by_month = df.groupby('SOURCE.NAME').sum(numeric_only=True)

In [95]:
df.plot(y = ['GRAND TOTAL'])
# plt.bar(df['date'], df['GRAND TOTAL'].mean())

plt.title('General Income')
plt.xlabel('Date')
plt.ylabel('Orders')

ImportError: cannot import name 'Axes' from 'matplotlib.axes' (unknown location)

In [79]:
plt.figure(figsize = (8,5))

plt.plot(df.index, df['GRAND TOTAL'])
plt.title('Unfiltered General Income')
plt.xlabel('Year')
plt.ylabel('Philippine Peso')

NameError: name 'plt' is not defined

In [ ]:
df[df['PRODUCT NAME'].str.contains('GUNDAM') | df['PRODUCT NAME'].str.contains('Vintage')]

In [ ]:
ff = df.groupby(['SOURCE.NAME']).sum(numeric_only=True).sort_values(by ='GRAND TOTAL', ascending = True)
ff.plot.barh(y = ['GRAND TOTAL', 'ESTIMATED SHIPPING FEE'])

In [ ]:
df.groupby(df.index).sum(numeric_only=True)

In [ ]:
df['PRODUCT NAME'].str.contains('UK').value_counts()

In [ ]:

d1.plot(y = ['GRAND TOTAL'])
# plt.bar(df['date'], df['GRAND TOTAL'].mean())
plt.title('General Income')
plt.xlabel('Date')
plt.ylabel('Orders')

In [ ]:
keywords = ['UK and', 'Self CO US UK Japan Surplus', 'Anik Anik', 'Anik-Anik', 'US and', 'for sis', 'Self CO', "Miner's", 'miners', 'Checkout', 'Check-out', 'Check out', 'checkout', 'ANIK ANIK', 'Live Sell', 'live sell', 'Live sell', 'STATIONERY', 'Marbi']

In [ ]:
df['live'] = df.apply(lambda row: +1 if any(keyword in row['PRODUCT NAME'] for keyword in keywords) else 0, axis=1) #for every row, +1 if any keyword exist in keywords[] list. If none, 0.
df['Listing'] = df.apply(lambda row: 0 if row['live'] == 1 else +1, axis=1)
df['Sold via'] = df.apply(lambda row: 'Live' if any(keyword in row['PRODUCT NAME'] for keyword in keywords) else 'Listing', axis=1)

In [ ]:
df.loc[:, ['PRODUCT NAME', 'QUANTITY','live', 'Listing', 'Sold via']].sort_values(by = ['live', 'Listing', 'PRODUCT NAME'], ascending = False)

In [ ]:
d = df.groupby('Sold via').sum(numeric_only = True)
d['Total'] = 492 + 4813 #Taken from actual values of Live and Total column
d['Live%'] = d['live'] / d['Total'] * 100
d['List%'] = d['Listing']/d['Total'] * 100

In [25]:
d.plot.barh(y = ['Listing', 'live', 'QUANTITY'])

NameError: name 'd' is not defined

In [27]:
d.plot.barh(y = ['List%', 'Live%'], stacked = True)

NameError: name 'd' is not defined

In [29]:
product_filter = df.groupby('PRODUCT NAME').sum(numeric_only = True).sort_values(by='GRAND TOTAL', ascending = True)

NameError: name 'df' is not defined

In [30]:
product_filter.tail(20).plot.barh(y = ['GRAND TOTAL'])
plt.title('Sales by Product')
plt.xlabel('Total Sales')
plt.ylabel('Product Name')

NameError: name 'product_filter' is not defined

In [32]:
city_filter = df.groupby('CITY').sum(numeric_only=True).sort_values(by = 'GRAND TOTAL', ascending = True)

NameError: name 'df' is not defined

In [ ]:
city_filter.tail(10).plot.barh(y = 'GRAND TOTAL')

In [35]:
user_filter = df.groupby('USERNAME').sum(numeric_only=True).sort_values(by = 'GRAND TOTAL', ascending = False)

NameError: name 'df' is not defined

In [ ]:
user_filter.head(10).plot.barh(y = ['GRAND TOTAL', "PRODUCTS' PRICE PAID BY BUYER"], color = ['blue', 'orange'])

In [38]:
plt.figure(figsize = (8,5))

plt.barh(user_filter.index.tolist()[:5], user_filter['GRAND TOTAL'].head(5))
plt.barh(user_filter.index.tolist()[:5], user_filter["PRODUCTS' PRICE PAID BY BUYER"].head(5))

NameError: name 'plt' is not defined

In [ ]:

plt.figure(figsize=(8, 5))

# Define the number of bars
num_bars = 5

# Set the positions for the bars
y_positions = range(num_bars)

# Plotting the first set of bars (GRAND TOTAL)
plt.barh(y_positions, user_filter['GRAND TOTAL'].head(num_bars), color='blue', label='GRAND TOTAL', height = 0.2)

# Plotting the second set of bars (PRODUCTS' PRICE PAID BY BUYER) with an offset
plt.barh([p + 0.3 for p in y_positions], user_filter["PRODUCTS' PRICE PAID BY BUYER"].head(num_bars), color='orange', label="PRODUCTS' PRICE PAID BY BUYER", height = 0.2)

# Adding labels and title
plt.yticks([p + 0.15 for p in y_positions], user_filter.index.tolist()[:num_bars])  # Adjust y-ticks to center them
plt.xlabel('Values')
plt.title('Top 5 Users by GRAND TOTAL and PRODUCTS PRICE PAID BY BUYER')
plt.legend()
plt.show()

In [39]:
df.head()

NameError: name 'df' is not defined

In [41]:
# Convert the index to datetime first
datetime_index = pd.to_datetime(df.index, errors = 'coerce')

# Now access the year and month separately
months = datetime_index.month  # This will give you the month
years = datetime_index.year    # This will give you the year 

# If you want to see both together, you can create a DataFrame or Series
result = pd.DataFrame({'Month': months, 'Year': years})

#String together
df['Month-Year'] = result['Month'].astype(str) + '-' + result['Year'].astype(str)

# In case needed: Convert 'Month-Year' to datetime format
# result['Month-Year'] = pd.to_datetime(result['Month-Year'], format='%m-%Y')

# Display the result
df.head()

NameError: name 'df' is not defined

In [ ]:
result.head()

In [44]:
import matplotlib.pyplot as plt

# Set the figure size
plt.figure(figsize=(8, 5))

# Create a DataFrame for plotting
# Assuming user_filter is already defined and contains the necessary data

# Plotting the first set of bars (GRAND TOTAL)
user_filter.head().plot.barh(
    y='GRAND TOTAL',
    color='blue',
    position=1,  # Position for the first set of bars
    label='GRAND TOTAL',
    ax=plt.gca()  # Use the current axis
)

# Plotting the second set of bars (PRODUCTS' PRICE PAID BY BUYER) with an offset
user_filter.head().plot.barh(
    y="PRODUCTS' PRICE PAID BY BUYER",
    color='orange',
    position=0,  # Position for the second set of bars
    label="PRODUCTS' PRICE PAID BY BUYER",
    ax=plt.gca()  # Use the same axis
)

# Adding labels and title
plt.yticks(range(num_bars), user_filter.index.tolist()[:num_bars])  # Set y-ticks
plt.xlabel('Values')
plt.title('Top 5 Users by GRAND TOTAL and PRODUCTS PRICE PAID BY BUYER')
plt.legend()
plt.show()

ImportError: cannot import name 'Axes' from 'matplotlib.axes' (unknown location)