In [ ]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt


pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [ ]:
df = pd.read_csv('allv2_csv.csv')

In [ ]:
df.describe()

In [ ]:
#Transform column name uniformity
df.columns = df.columns.str.upper()
df.columns = df.columns.str.replace("(Y/N)", '')
df.columns = df.columns.str.replace("(BUYER)", '')
df.columns = df.columns.str.replace("(PHP)", '')
df.columns = df.columns.str.replace("/", '')
df.columns = df.columns.str.replace("*", '')
df.columns = df.columns.str.replace(" ", '_')
df.columns = df.columns.str.replace("PRODUCTS'_PRICE_PAID_BY_BUYER_", "PRODUCTS'_PRICE_PAID_BY_BUYER")

In [ ]:
#Fix date to YYYY-MM-DD only w/o time
df['ORDER_CREATION_DATE'] = pd.to_datetime(df['ORDER_CREATION_DATE'])
df['DATE'] = df['ORDER_CREATION_DATE'].dt.date
#Format to datetime64 type
df['DATE'] = pd.to_datetime(df['DATE'])
#Set index to date
df.set_index(df['DATE'], inplace=True)
#Extract Month Only
df['MONTH'] = df['DATE'].dt.month
#Extract Year Only
df['YEAR'] = df['DATE'].dt.year
#Extract Time Only
df['TIME'] = df['ORDER_CREATION_DATE'].dt.time
#Convert to datetime64, round to the nearest hour, and format to only show time w/o dates
# df['TIME'] = pd.to_datetime(df['TIME'], format = '%H:%M:%S').dt.floor('h').dt.strftime('%H:%M:%S')
#Combine Month-Year-Time
df['MONTH-YEAR-TIME'] = df.apply(lambda x: f"{x['YEAR']}-{x['MONTH']}-{x['TIME']}", axis = 1)

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df.loc[:, 'PRODUCT_NAME'].unique()

In [ ]:
keywords = ['Anik-Anik', 'UK and US', 'Stationeries', 'Anik Anik', "Miner's", "Self", "Checkout", "Checkout", 'US and UK', 'Uk', 'US UK', 'checkout', 'Sis', 'sis']
for product_name in df['PRODUCT_NAME'].unique():
    # Check if any keyword is in the product name
    if not any(keyword in product_name for keyword in keywords):
        print(product_name)

In [ ]:
df['LIST'] = df.apply(lambda x: 'LIVE' if any(keyword in x['PRODUCT_NAME'] for keyword in keywords) else 'LISTING', axis = 1)

In [ ]:
df[df['LIST'].str.contains('LIVE')]

In [ ]:
by_list = df.groupby('LIST').sum(numeric_only=True)
by_list.plot.barh(y = ["GRAND_TOTAL", "PRODUCTS'_PRICE_PAID_BY_BUYER"], color = ['orange', 'skyblue'])

plt.xlabel("GRAND TOTAL")
plt.xticks(ticks = [200000, 400000, 600000, 800000, 1000000, 1200000, 1400000, 1600000], labels = ['200000', '400000', '600000', '800000', '1000000', '1200000', '1400000', '1600000'])

In [ ]:
by_username = df.groupby('USERNAME_').sum(numeric_only=True).sort_values(by = 'GRAND_TOTAL', ascending = True)
by_useranme = by_username.tail(20).plot.barh(y = 'GRAND_TOTAL')

In [ ]:
by_city = df.groupby('CITY').sum(numeric_only=True).sort_values(by = 'GRAND_TOTAL', ascending = True)
by_city.tail(10).plot.barh(y = 'GRAND_TOTAL')

In [ ]:
by_product = df.groupby('PRODUCT_NAME').sum(numeric_only=True).sort_values(by = 'GRAND_TOTAL', ascending = True)
by_product.tail(10).plot.barh(y = 'GRAND_TOTAL')

In [ ]:
#Method:2 Group by username. Determine when was their first and recent order.
result = df.groupby('USERNAME_')['ORDER_CREATION_DATE'].agg(
    first_order='min',
    last_order='max'
)

In [ ]:
result

In [ ]:
#Method:2 Group by username. Determine when was their first and recent order.
#Notice how in Method #1, we used ['ORDER_CREATION_DATE'] to pass all first argument as that column.
#Here, we manually put it in the first argument because we will eventually use ['GRAND_TOTAL']
result = df.groupby('USERNAME_').agg(
    FIRST_ORDER = ('ORDER_CREATION_DATE', 'min'),
    LAST_ORDER = ('ORDER_CREATION_DATE', 'max'),
    PURCHASE_TOTAL = ('GRAND_TOTAL', 'sum')
).sort_values(by = 'PURCHASE_TOTAL', ascending = False)

In [ ]:
result

In [ ]:
df['USERNAME_'] = df['USERNAME_'].apply(lambda x: '***' + x[3:] if isinstance(x, str) and len(x) > 3 else x)

In [ ]:
df.fillna('')

In [ ]:
df.groupby(df.index).sum(numeric_only=True)

In [ ]:
df['MONTH-YEAR'] = df.apply(lambda x: f"{x['YEAR']}-{x['MONTH']}", axis = 1)
df['MONTH-YEAR'] = pd.to_datetime(df['MONTH-YEAR'])

In [ ]:
by_monthyear = df.groupby('MONTH-YEAR').sum(numeric_only=True).sort_values(by = 'MONTH-YEAR', ascending =True)
by_monthyear_2022 = by_monthyear[by_monthyear.index.astype(str).str.startswith('2022')]
by_monthyear_2023 = by_monthyear[by_monthyear.index.astype(str).str.startswith('2023')]
by_monthyear_2024 = by_monthyear[by_monthyear.index.astype(str).str.startswith('2024')]

In [ ]:
pd.DataFrame(by_monthyear_2022['GRAND_TOTAL'])

In [ ]:
by_monthyear_2022.sort_values(by = 'GRAND_TOTAL', ascending = False).plot.bar(y = 'GRAND_TOTAL')

In [ ]:
by_monthyear_2023.sort_values(by = 'MONTH-YEAR', ascending = True).plot.bar(y = 'GRAND_TOTAL')

In [ ]:
pd.DataFrame(by_monthyear_2023['GRAND_TOTAL'])

In [ ]:
by_monthyear_2024.plot.bar(y = 'GRAND_TOTAL')

In [ ]:
df.groupby('MONTH-YEAR-TIME').sum(numeric_only = True)

In [ ]:
df.groupby('ORDER_CREATION_DATE').sum(numeric_only=True)

In [ ]:
#filter according to time
am_12 = df[df['TIME'].astype(str).str.startswith('00')]
am_1 = df[df['TIME'].astype(str).str.startswith('01')]
am_2 = df[df['TIME'].astype(str).str.startswith('02')]
am_3 = df[df['TIME'].astype(str).str.startswith('03')]
am_4 = df[df['TIME'].astype(str).str.startswith('04')]
am_5 = df[df['TIME'].astype(str).str.startswith('05')]
am_6 = df[df['TIME'].astype(str).str.startswith('06')]
am_7 = df[df['TIME'].astype(str).str.startswith('07')]
am_8 = df[df['TIME'].astype(str).str.startswith('08')]
am_9 = df[df['TIME'].astype(str).str.startswith('09')]
am_10 = df[df['TIME'].astype(str).str.startswith('10')]
am_11 = df[df['TIME'].astype(str).str.startswith('11')]
pm_1 = df[df['TIME'].astype(str).str.startswith('13')]
pm_2 = df[df['TIME'].astype(str).str.startswith('14')]
pm_3 = df[df['TIME'].astype(str).str.startswith('15')]
pm_4 = df[df['TIME'].astype(str).str.startswith('16')]
pm_5 = df[df['TIME'].astype(str).str.startswith('17')]
pm_6 = df[df['TIME'].astype(str).str.startswith('18')]
pm_7 = df[df['TIME'].astype(str).str.startswith('19')]
pm_8 = df[df['TIME'].astype(str).str.startswith('20')]
pm_9 = df[df['TIME'].astype(str).str.startswith('21')]
pm_10 = df[df['TIME'].astype(str).str.startswith('22')]
pm_11 = df[df['TIME'].astype(str).str.startswith('23')]
pm_12 = df[df['TIME'].astype(str).str.startswith('24')]

In [ ]:
#Time Summary Test
pd.DataFrame(am_12.sum(numeric_only=True))